<!DOCTYPE html>
<html>
<head>
  <title>Integration Demos | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top"> 
    <div class="navbar-inner"> 
    <div class="container"> 
      <%= link_to "Integration Demos", '#', id: "logo" %> 
      <nav> 
        <ul class="nav pull-right"> 
          <li> <%= link_to "Home",    '/' %> </li>
          <li> <%= link_to "Source Code",    'https://github.com/npslater/IntegrationDemos.git' %> </li>
        </ul> 
      </nav> 
    </div> 
    </div> 
</header> 
<div class="container"> 
    <%= yield %> 
    <%= debug(params) if Rails.env.development? %> 
</div> 
</body>
</html>
