<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @purchase_order.status %>
</p>

<p>
  <b>Created on:</b>
  <%= @purchase_order.created_on %>
</p>

<p>
  <b>Created by:</b>
  <%= @purchase_order.created_by %>
</p>


<%= link_to 'Edit', edit_purchase_order_path(@purchase_order) %> |
<%= link_to 'Back', purchase_orders_path %>
